@import models.Alert
@(alertOpt: Option[Alert])
@main(alertOpt){
  <div class="container">
    <p class="pull-right" style="margin-top: 25px;"><a href="/profile">Profile</a> | <a href="/sign-in">Sign-out</a></p>
  </div>
  <div class="container vertical-center">
    <div class ="row">
      <h1 class="logo front-page-logo">
        <a class="first-char">N</a><a class="second-char">o</a><a class="third-char">o</a><a class="first-char">d</a><a class="fifth-char">l</a><a class="second-char">e</a>
      </h1>
    </div>
    <div class="row">
      <div class="form-group">
        <input id="term" name="term" type="text" class="form-control">
      </div>
      <div class="parent-center-content">
        <div class="horizontal-center">
          <button id="search" class="btn btn-default">Search</button>
          <button id="lucky" class="btn btn-default">I'm feeling lucky</button>
        </div>
      </div>
    </div>
  </div>
}
